{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
    .divTable {
        width: auto;
        overflow: auto;
    }
    .table>tbody>tr>td, .table>tbody>tr>th {
        padding: 8px 23px !important;
    }
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card-title {
        font-size: 1.25rem; /* Adjust as needed */
    }
    .text-bold{
        font-weight:400
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Coût de Revient</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="/revient/add">Créer un coût de revient</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Coût de Revient</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header justify-content-between">
                        <div class="card-title">Coût de Revient</div>
                        <div>
                            <a href="/revient/add" type="button" class="btn btn-info">+ Nouveau coût de revient</a>
                        </div>
                    </div>

                    <div class="card-body">

                        <div class="row mt-4">
                            <table class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Nom du Produit</th>
                                        <th>Nombre d'Unités</th>
                                        <th>Total HT</th>
                                        <th>Prix de revient HT</th>
                                        <th>Prix de Vente HT</th>
                                        <th>Marge Brute</th>
                                        <th>Taux de Marge</th>
                                        <th>Coefficient de Marge</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for r in revient %}
                                    <tr>
                                        <td>{{ r.nomProduit }}</td>
                                        <td>{{ r.nombreUnite }}</td>
                                        <td>{{ r.totalHt }}</td>
                                        <td>{{ r.prixHt }}</td>
                                        <td>{{ r.prixVenteHt }}</td>
                                        <td>{{ r.margeBrute }}</td>
                                        <td>{{ r.tauxMarge }}</td>
                                        <td>{{ r.coefficientMarge }}</td>
                                        <td>
                                            <a href='/revient/update/{{r.id}}/' class="btn btn-primary">Modifier</a>
                                            <a class="btn btn-danger" style="color:white" title="Supprimer" onclick='confirmDelete({{r.id}})'>Supprimer</a>
                                        </td>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>

    function confirmDelete(id) {
        Swal.fire({
            title: "Êtes-vous sûr ?",
            text: "Cette action est irréversible !",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Supprimer",
            cancelButtonText: "Annuler",
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/revient/delete/"+id,
                    type: "POST",
                    data: {id: id},
                    success: function(data) {
                        if(data.codeStatut == 'OK') {
                            window.location.reload();
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: data.message,
                            });
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: "une erreur s'est produite",
                        });
                    }
                });
            }
        });
    }

    $(document).ready(function() {
        $('.table').DataTable({
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/fr-FR.json',
            },
        });
    });

</script>
{% endblock %}
