<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css')}}" />
        <link rel="stylesheet" href="{{ asset('assets/css/plugins.min.css')}}" />
        <link rel="stylesheet" href="{{ asset('assets/css/kaiadmin.min.css')}}" />
        <link rel="stylesheet" href="{{ asset('assets/css/select2.min.css')}}" />

        <link rel="stylesheet" href="{{ asset('assets/css/demo.css')}}" />
        <link rel="stylesheet" href="{{ asset('assets/css/style.css')}}" />
        <script src="{{ asset('assets/js/plugin/webfont/webfont.min.js')}}"></script>
        <script>
            WebFont.load({
                google: { families: ["Public Sans:300,400,500,600,700"] },
                custom: {
                families: [
                    "Font Awesome 5 Solid",
                    "Font Awesome 5 Regular",
                    "Font Awesome 5 Brands",
                    "simple-line-icons",
                ],
                urls: ["{{ asset('assets/css/fonts.min.css')}}"],
                },
                active: function () {
                sessionStorage.fonts = true;
                },
            });
        </script>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <!-- Sidebar -->
            <div class="sidebar" data-background-color="dark">
                <div class="sidebar-logo">
                <!-- Logo Header -->
                <div class="logo-header" data-background-color="white">
                    <a href="index.html" class="logo">
                    <img
                        src="{{ asset('assets/img/logo.jpeg')}}"
                        alt="navbar brand"
                        class="navbar-brand"
                        height="60"
                    />
                    </a>
                    <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="gg-menu-right"></i>
                    </button>
                    <button class="btn btn-toggle sidenav-toggler">
                        <i class="gg-menu-left"></i>
                    </button>
                    </div>
                    <button class="topbar-toggler more">
                    <i class="gg-more-vertical-alt"></i>
                    </button>
                    </div>
                <!-- End Logo Header -->
                </div>
                <div class="sidebar-wrapper scrollbar scrollbar-inner">
                    <div class="sidebar-content">
                        <ul class="nav nav-secondary">
                            <li class="nav-item">
                                <a href="/achat-general/add">
                                <i class="fas fa-box"></i>
                                    <p>Achat géneral</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/caisse/add">
                                <i class="fa fa-calculator"></i>
                                <p>Caisse</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/bl/add">
                                <i class="fas fa-truck"></i>
                                <p>Éxpédition</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#sidebarAnalyse">
                                <i class="fa fa-circle"></i>
                                <p>Analyse</p>
                                <span class="caret"></span>
                                </a>
                                <div class="collapse" id="sidebarAnalyse">
                                <ul class="nav nav-collapse">
                                    <li>
                                    <a href="/analyse">
                                        <span class="sub-item">Caisse / Balance</span>
                                    </a>
                                    </li>
                                </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#sidebarReglement">
                                <i class="fas fa-money-check"></i>

                                <p>Réglement</p>
                                <span class="caret"></span>
                                </a>
                                <div class="collapse" id="sidebarReglement">
                                <ul class="nav nav-collapse">
                                    <li>
                                    <a href="/reglement/add">
                                        <span class="sub-item">Suivi réglement</span>
                                    </a>
                                    </li>
                                    <li>
                                    <a href="/cheque/add">
                                        <span class="sub-item">Suivi chèque</span>
                                    </a>
                                    </li>
                                </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a data-bs-toggle="collapse" href="#sidebarParametre">
                                <i class="fas fa-cog"></i> 
                                <p>Paramètre</p>
                                <span class="caret"></span>
                                </a>
                                <div class="collapse" id="sidebarParametre">
                                    <ul class="nav nav-collapse">
                                        <li>
                                            <a href="/categorie/add">
                                                <span class="sub-item">Categorie</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/designation/add">
                                                <span class="sub-item">Designation</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/fournisseur/add">
                                                <span class="sub-item">Fournisseur</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/caisse-param/add">
                                                <span class="sub-item">Nouvelle caisse</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/entity/add">
                                                <span class="sub-item">Entité</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/produit/add">
                                                <span class="sub-item">Base de produit interne</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/user/insertUser">
                                                <span class="sub-item">Utilisateur</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <div class="main-panel">
            <div class="main-header">
                <div class="main-header-logo">
                    <!-- Logo Header -->
                    <div class="logo-header" data-background-color="dark">
                    <a href="../index.html" class="logo">
                        <img

                        src="{{ asset('assets/img/kaiadmin/logo_light.svg')}}"
                        alt="navbar brand"
                        class="navbar-brand"
                        />
                    </a>
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                        <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                        <i class="gg-menu-left"></i>
                        </button>
                    </div>
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                    </div>
                    <!-- End Logo Header -->
                </div>
                <!-- Navbar Header -->
                <nav
                    class="navbar navbar-header navbar-header-transparent navbar-expand-lg border-bottom"
                    >
                    <div class="container-fluid">
                   
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>
            {% block body %}{% endblock %}

            <footer class="footer">
            <div class="container-fluid d-flex justify-content-between">
              
                <div class="copyright">
                2024,   by
                <a href="#">175 KG</a>
                </div>
                
            </div>
            </footer>
            </div>
            
            <!-- End Sidebar -->
        </div>

        
            <script src="{{asset('assets/js/core/jquery-3.7.1.min.js')}}"></script>
            <script src="{{asset('assets/js/core/popper.min.js')}}"></script>
            <script src="{{asset('assets/js/core/bootstrap.min.js')}}"></script>

            <!-- jQuery Scrollbar -->
            <script src="{{asset('assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')}}"></script>

            <!-- Chart JS -->
            <script src="{{asset('assets/js/plugin/chart.js/chart.min.js')}}"></script>

            <!-- jQuery Sparkline -->
            <script src="{{asset('assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js')}}"></script>

            <!-- Chart Circle -->
            <script src="{{asset('assets/js/plugin/chart-circle/circles.min.js')}}"></script>

            <!-- Datatables -->
            <script src="{{asset('assets/js/plugin/datatables/datatables.min.js')}}"></script>

            <!-- Bootstrap Notify -->
            <script src="{{asset('assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js')}}"></script>

            <!-- jQuery Vector Maps -->
            <script src="{{asset('assets/js/plugin/jsvectormap/jsvectormap.min.js')}}"></script>
            <script src="{{asset('assets/js/plugin/jsvectormap/world.js')}}"></script>

            <!-- Sweet Alert -->
            <script src="{{asset('assets/js/plugin/sweetalert/sweetalert.min.js')}}"></script>

            <!-- Kaiadmin JS -->
            <script src="{{asset('assets/js/kaiadmin.min.js')}}"></script>

            <!-- Kaiadmin DEMO methods, don't include it in your project! -->
            <script src="{{asset('assets/js/setting-demo.js')}}"></script>
            {# <script src="{{asset('assets/js/demo.js')}}"></script> #}
            <script>
            $("#lineChart").sparkline([102, 109, 120, 99, 110, 105, 115], {
                type: "line",
                height: "70",
                width: "100%",
                lineWidth: "2",
                lineColor: "#177dff",
                fillColor: "rgba(23, 125, 255, 0.14)",
            });

            $("#lineChart2").sparkline([99, 125, 122, 105, 110, 124, 115], {
                type: "line",
                height: "70",
                width: "100%",
                lineWidth: "2",
                lineColor: "#f3545d",
                fillColor: "rgba(243, 84, 93, .14)",
            });

            $("#lineChart3").sparkline([105, 103, 123, 100, 95, 105, 115], {
                type: "line",
                height: "70",
                width: "100%",
                lineWidth: "2",
                lineColor: "#ffa534",
                fillColor: "rgba(255, 165, 52, .14)",
            });
            </script>
            <script src="{{asset('assets/js/core/jquery-3.7.1.min.js')}}"></script>
            <script src="{{asset('assets/js/core/popper.min.js')}}"></script>
            <script src="{{asset('assets/js/core/bootstrap.min.js')}}"></script>

            <!-- jQuery Scrollbar -->
            <script src="{{asset('assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')}}"></script>
            <!-- Datatables -->
            <script src="{{asset('assets/js/plugin/datatables/datatables.min.js')}}"></script>
            <!-- Kaiadmin JS -->
            <script src="{{asset('assets/js/kaiadmin.min.js')}}"></script>
            <!-- Kaiadmin DEMO methods, don't include it in your project! -->
            <script src="{{asset('assets/js/setting-demo2.js')}}"></script>
            <script src="{{asset('assets/js/sweetalert2@11.js')}}"></script>
            <script src="{{asset('assets/js/select2.min.js')}}"></script>
            <script>
            $(document).ready(function () {
                $("#basic-datatables").DataTable({});

                $("#multi-filter-select").DataTable({
                pageLength: 5,
                initComplete: function () {
                    this.api()
                    .columns()
                    .every(function () {
                        var column = this;
                        var select = $(
                        '<select class="form-select"><option value=""></option></select>'
                        )
                        .appendTo($(column.footer()).empty())
                        .on("change", function () {
                            var val = $.fn.dataTable.util.escapeRegex($(this).val());

                            column
                            .search(val ? "^" + val + "$" : "", true, false)
                            .draw();
                        });

                        column
                        .data()
                        .unique()
                        .sort()
                        .each(function (d, j) {
                            select.append(
                            '<option value="' + d + '">' + d + "</option>"
                            );
                        });
                    });
                },
                });

                // Add Row
                $("#add-row").DataTable({
                pageLength: 5,
                });

                var action =
                '<td> <div class="form-button-action"> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-bs-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

                $("#addRowButton").click(function () {
                $("#add-row")
                    .dataTable()
                    .fnAddData([
                    $("#addName").val(),
                    $("#addPosition").val(),
                    $("#addOffice").val(),
                    action,
                    ]);
                $("#addRowModal").modal("hide");
                });


                $(document).ready(function() {
                    $('.select2').select2();
                });

            });
            </script>
            {% block javascripts %}
            {% endblock %}
    </body>
</html>
