{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
    .divTable {
        width: auto;
        overflow: auto;
    }

    .table>tbody>tr>td, .table>tbody>tr>th {
        padding: 8px 23px !important;
    }
    
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .card-title {
        font-size: 1.25rem; /* Adjust as needed */
    }

    .form-select {
        margin-bottom: 15px;
    }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Tableau de bord</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header justify-content-between">
                        <div class="card-title ">Tableau des achats de : <span class="text-primary">{{fournisseur.rs}}</span></div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                               
                            </div>
                        </div>

                        <div class="row mt-4">
                            <table class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Catégorie</th>
                                        <th>Désignation</th>
                                        <th>Fournisseur</th>
                                        <th>Unité</th>
                                        <th>Quantité</th>

                                        <th>Prix</th>
                                        <th>Montant</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for u in data %}
                                    <tr>
                                        <td>{{ u.date | date('Y-m-d') }}</td>
                                        <td>{{ u.categorie.categorie }}</td>
                                        <td>{{ u.idDesignation.designation   }}</td>
                                        <td>{{ fournisseur.rs}}</td>
                                        <td>{{ u.unite }}</td>
                                        <td>{{ u.qte }}</td>
                                        <td>{{ u.prix }}</td>
                                        <td>{{ u.montant }}</td>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
        $(document).ready(function() {
table = $('.table').DataTable({
                    language: {
                        url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/fr-FR.json',
                    },
                });
      })
</script>
{% endblock %}
