{% extends 'base.html.twig' %}

{% block body %}
     <div class="container">
        <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Utilisateurs</h3>
            <ul class="breadcrumbs mb-3">
            <li class="nav-home">
                <a href="#">
                <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="/user/listProfils">Liste des profils</a>
            </li>
            </ul>
        </div>
         <div class="row">
            <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                <div class="card-title">Ajouter une profil</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        {% if codeStatut == "OK" %}
                            <div  class="form-group col-sm-12">
                                <div class="alert alert-success" role="alert">
                                    {{response}}
                                </div>
                            </div>
                        {% elseif codeStatut != ""  %}
                            <div  class="form-group col-sm-12">
                                <div class="alert alert-danger" role="alert">
                                    {{response}}
                                </div>
                            </div>
                        {% endif %}

                        <form class="forms-sample " method="POST" id="form" enctype="multipart/form-data" >
                            <div class="page-header mb-12">
                                <div class="form-group  row col-md-6">
                                        <label class="col-md-3 col-form-label">Libélle : <span style="color:red">*</span></label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" id="libelle" name="libelle" value="{{data.libelle}}">
                                        </div>
                                </div>
                                <div class="form-group row  col-md-6">
                                    <label class="col-md-3 col-form-label">Description : <span style="color:red">*</span></label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" id="description" name="description" value="{{data.description}}">
                                    </div>
                                </div>
                            </div>
                            <div style="display:flex;justify-content: space-between">
                                <label class="pb-1" style="color:#4566ad;font-size: 23px;"><strong>Liste des roles</strong></label>
                                <button class="mb-2" type="button" id="checkAllRoles">Selectionner tout</button>
                            </div>
                            <div class="page-header card p-3">
                                <div class="form-group col-md-12">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            {% for category, roles in rolesListe %}
                                                <thead>
                                                    <tr>
                                                        <th style="padding: 5px">
                                                            <b class="text-primary h5">
                                                                <input type="checkbox" class="category-checkbox" name="Tout" onclick="selectAll(this, '{{ category }}')" />
                                                                {{ category }}
                                                            </b>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        {% for role in roles %}
                                                            <td style="padding: 5px; min-width: 150px;">
                                                                <div class="border-checkbox-group border-checkbox-group-default">
                                                                    <input class="border-checkbox user-check {{ category }}" name="roles[{{ role.id }}]" type="checkbox" id="checkbox{{ role.id }}">
                                                                    <label class="border-checkbox-label" for="checkbox{{ role.id }}">{{ role.description }}</label>
                                                                </div>
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                </tbody>
                                            {% endfor %}
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div style='display:flex;justify-content: center;'>
                                <input type="submit" class="btn btn-success waves-effect waves-light" value="Ajouter le profil">
                            </div>
                        </form>    
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %} 
<script>
    // JavaScript to handle checking all checkboxes
    document.getElementById('checkAllRoles').addEventListener('click', function () {
        var checkboxes = document.querySelectorAll('input[type="checkbox"].user-check');
        var button = document.getElementById('checkAllRoles');
        var checkboxesC = document.querySelectorAll('input[type="checkbox"].category-checkbox');

        if (button.innerText === 'Selectionner tout') {
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = true;
            });

            checkboxesC.forEach(function (checkbox) {
                checkbox.checked = true;
            });

            button.innerText = 'Désélectionner tout';
            
        } else {
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = false;
            });

            checkboxesC.forEach(function (checkbox) {
                checkbox.checked = false;
            });

            button.innerText = 'Selectionner tout';
        }


    });

    function selectAll(categoryCheckbox, category) {
        var rolesCheckboxes = document.querySelectorAll('input[type="checkbox"].user-check.' + category);
        for (var i = 0; i < rolesCheckboxes.length; i++) {
            rolesCheckboxes[i].checked = categoryCheckbox.checked;
        }
        
    }
</script>
{% endblock %}
