{# templates/user/listProfils.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Utilisateurs</h3>
            <ul class="breadcrumbs mb-3">
            <li class="nav-home">
                <a href="#">
                <i class="icon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a href="/user/insertUser">Ajouter un utilisateurs</a>
            </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                <div class="card-title">Liste des utilisateurs</div>
                </div>
                <div class="card-body">
                <div class="row">
                    <table id=""
                    class="display table table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nom utilisateur</th>
                            <th>Email</th>
                            <th>Telephone</th>
                            <th>Adresse</th>
                            <th>Statut</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for u in users %}
                        <tr>
                            <td>
                                {% if u.image != '/assets/images/Users/user.png' %}
                                    <img src="{{ asset(u.image) }}" style="max-height: 100px;"/>
                                {% endif %}
                            </td>
                            <td>{{u.userName}}</td>
                            <td>{{u.email }}</td>
                            <td>{{u.phone}}</td>
                            <td>{{u.address}}</td>
                            <td>{% if u.isActif %}<span style="color:green">Actif</span>{% else %}<span style="color:orange">Inactif</span>{% endif %}</td>
                            <td>
                                <a href='/user/updateUser/{{u.id}}/' class="btn btn-primary" title="Modifier"> Modifier
                                </a>
                                <a class="btn btn-danger" title="Supprimer" onclick='confirmDelete({{u.id}})' style="color:white">Supprimer
                                </a>
                            </td>
                        </tr>
                    {% endfor %}    
                    </tbody>
                </table>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %} 

<script>
    $(document).ready(function() {
            $('.table').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.6/i18n/fr-FR.json',
                },
            });
    });


    function confirmDelete(id) {
        Swal.fire({
            title: "Êtes-vous sûr ?",
            text: "La suppression est irréversible !",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#d33",
            cancelButtonColor: "#3085d6",
            confirmButtonText: "Supprimer",
            cancelButtonText: "Annuler",
        }).then((result) => {

            if (result.isConfirmed) {

                $.ajax({
                    url: "/user/deleteUser/"+id+"/",
                    type: "POST",
                    data: {id: id},
                    success: function(data) {
                        if(data == 'OK') {
                            window.location.reload();
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: data,
                            });
                        }
                    },
                    error: function(xhr, ajaxOptions, thrownError) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: "une erreur s'est produite",
                        });
                    }
                });
            }
        });
    }
</script>

{% endblock %}
